<div class="row user_login">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 login_box">
      <h2 class = "login_font">ログイン</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :パスワード %><br />
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        <% end %>
      <% end %>

      <div class="field">
        <%= render "users/shared/links" %>
      </div>
    </div>
    <div class="col-xs-2"></div>
</div>