<h1>コーディネート編集</h1>

<%= form_for(@coordinate) do |f| %>
	<div class = "field">
		<%= attachment_image_tag @coordinate, :coordinate_image, :fill, 300, 300, format: 'jpeg' %>
		<%= f.attachment_field :coordinate_image %>
	</div>

	<div class = "field">
		<%= f.label :本文 %>
		<%= f.text_area :body, :size=>"92", autofocus: true, autocomplete: "body" %>
	</div>

	<div class = "field">
		<%= f.submit "投稿する" %>
	</div>
<% end %>
