<h1>ユーザーコーディネート詳細</h1>
	<%= link_to user_path(@coordinate.user.id) do %>
	<%= attachment_image_tag @coordinate.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class: 'img-circle profile-thumb my-img edit-img' %>
	<% end %>
	<span class = "coordeinate_index"><%= @coordinate.user.user_name %></p>
<div class = "coordeinate_index2">
	<%= attachment_image_tag @coordinate, :coordinate_image, :fill, 600, 500, format: 'jpeg' %>
</div>
<div class="row field">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
    	<div class = "coordeinate_index3">
    	<%= @coordinate.body %></br>
    	<% if @coordinate.user_id == current_user.id %>
    		<%= link_to "編集", edit_coordinate_path(@coordinate.id) %>
			<%= link_to "削除", coordinate_path, method: :delete, "data-confirm" => "この投稿を削除しますか？" %>
		<% end %>
    	</div>
    </div>
    <div class="col-xs-2"></div>
</div>
<div class = "space"></div>

<!-- コーディネートに紐づいたアイテムを登録 -->
<% @items.each do |item| %>
    <%= link_to item_path(item) do %>
        <%= attachment_image_tag item, :item_image, :fill, 200, 200, format: 'jpeg' %>
    <% end %>
        <%= item.item_name %>
<% end %>

<div class = "space"></div>