<div class = "admin_coordinate_show">

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <h1 class = "font">ユーザーコーディネート詳細</h1>
        </div>
        <div class="col-xs-1"></div>
    </div>
        <!-- ユーザーのアイコンとユーザー名 -->


        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 admin_coordinate_show4">
                <div class = "admin_coordinate_show2">
                    <%= link_to user_path(@coordinate.user.id) do %>
                       <%= attachment_image_tag @coordinate.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size:'100x100', class: 'img-circle profile-thumb my-img edit-img' %>
                    <% end %>
                    <font color = "#fff"><%= @coordinate.user.user_name %></font>
                </div>
            </div>
            <div class="col-xs-1"></div>
        </div>
        <!-- ここまで -->


        <!-- コーデ -->
        <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 admin_coordinate_show5">
                <%= attachment_image_tag @coordinate, :coordinate_image, :fill, 700, 750, format: 'jpeg' %>

                <div class = "admin_coordinate_show7">
                <p><%= @coordinate.body %></p>
                </div>
                </br>
				<%= link_to admins_coordinate_path, method: :delete, "data-confirm" => "この投稿を削除しますか？" do %>
					<p class = "font">削除</p>
				<% end %>
            </div>
            <div class="col-xs-1"></div>
        </div>



	<div class="row sampleRow">
	  <div class="col-xs-1"></div>
	  <div class="col-xs-10">
	  	<h3 class = "font">アイテム</h3>
	  </div>
	  <div class="col-xs-1"></div>
	</div>

    <!-- コーディネートに紐づいたアイテムを登録 -->
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 admin_coordinate_show3">
                <% @items.each do |item| %>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th class = "admin_coordinate_show_font">アイテム名</th>
                                <th class = "admin_coordinate_show_font">ブランド</th>
                                <th class = "admin_coordinate_show_font">カラー</th>
                                <th class = "admin_coordinate_show_font">サイズ</th>
                                <th class = "admin_coordinate_show_font">カテゴリー</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><%= attachment_image_tag item, :item_image, :fill, 200, 200, format: 'jpeg' %></th>
                                <td class = "admin_coordinate_show_font"><%= item.item_name %></td>
                                <td class = "admin_coordinate_show_font"><%= item.brand %></td>
                                <td class = "admin_coordinate_show_font"><%= item.color %></td>
                                <td class = "admin_coordinate_show_font"><%= item.size %></td>
                                <td class = "admin_coordinate_show_font"><%= item.category_name %></td>
                            </tr>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
</div>
</div>