<div class="row user_index">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
    	<div class = "user_index2">
    	<h1 class = "font">ユーザー一覧</h1>
			<table class="table">
			  <thead>
			    <tr>
			      <th></th>
			      <th class = "font">ユーザー名</th>
			      <th class = "font">性別</th>
			      <th class = "font">身長</th>
			    </tr>
			  </thead>
			<% @users.each do |user| %>
			  <tbody>
			    <tr>
			      <th>
			      	<%= link_to user_path(user.id) do %>
			      	<%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg", size:'60x60', class: 'img-circle profile-thumb my-img edit-img' %>
			      	<% end %>
			      </th>
			      <td class = "font"><%= user.user_name %></td>
			      <td class = "font"><%= user.sex %></td>
			      <td class = "font"><%= user.height %></td>
			    </tr>
			  </tbody>
			<% end %>
			</table>
			<%= paginate @users %>
		</div>
    </div>
    <div class="col-xs-1"></div>
</div>