<h1>ユーザー詳細</h1>
<div class="row user_show">
    <div class="col-xs-1"></div>
    <div class="col-xs-4">
    	<%= attachment_image_tag @user, :profile_image, :fill, 400, 400, format: 'jpeg', fallback: "no_image.jpg", size:'400x400', class: 'img-circle profile-thumb my-img edit-img' %>
    </div>
    <div class="col-xs-6">
        <p>ユーザー名 : <%= @user.user_name %></p>
        <p>性別 : <%= @user.sex %></p>
        <p>身長 : <%= @user.height %></p>
    	<%= @user.introduction %>

        <!-- ここからチャット画面へ遷移 -->
        <% if @user.id == current_user.id %>
        <!-- 何も表示させない -->
        <% else %>
            <% if @isRoom == true %>
                <%= link_to "チャットへ", room_path(@roomId) %>
            <% else %>
                <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                        <%= e.hidden_field :user_id, :value => @user.id %>
                    <% end %>
                    <%= f.submit "チャットを始める" %>
                <% end %>
            <% end %>
        <% end %>
        <!-- チャットはここまで -->




    	</div>
    <div class="col-xs-1"></div>
</div>

<div class="row field">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
    	<div class = "user_show2">
		<% @coordinates.each do |coordinate| %>
			<%= link_to coordinate_path(coordinate.id) do %>
			<%= attachment_image_tag coordinate, :coordinate_image, :fill, 150, 150, format: 'jpeg' %>
			<% end %>
		<% end %>
		</div>
    </div>
    <div class="col-xs-1"></div>
</div>
