<div class="row admin_user_index">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 admin_user_index2">
  	<h1 class = "font">ユーザー一覧</h1>
	<% @users.each do |user| %>
	<table class="table">
		<thead>
			<tr>
				<th></th>
				<th class = "font">ユーザー名</th>
				<th class = "font">性別</th>
				<th class = "font">身長</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>
					<%= link_to admins_user_path(user) do %>
					<%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "no_image.jpg", size:'50x50', class: 'img-circle profile-thumb my-img edit-img' %>
					<% end %>
				</th>
				<td class = "font"><%= user.user_name %></td>
				<td class = "font"><%= user.sex %></td>
				<td class = "font"><%= user.height %></td>
			</tr>
		</tbody>
	</table>
	<% end %>
	<%= paginate @users %>
  </div>
  <div class="col-xs-1"></div>
</div>
