<div class = "admin_user_show">
<div class="row admin_user_show3">
  <div class="col-xs-1"></div>
  <div class="col-xs-4">
  	<h1 class = "font">ユーザー詳細</h1>
	<%= attachment_image_tag @user, :profile_image, :fill, 400, 400, format: 'jpeg', fallback: "no_image.jpg", size:'400x400', class: 'img-circle profile-thumb my-img edit-img' %>
  </div>
  <div class="col-xs-6 admin_user_show2">
  	<p class = "font">氏名（漢字）:　<%= @user.kanji_name %></p>
	<p class = "font">氏名（カナ）:　<%= @user.kana_name %></p>
	<p class = "font">ユーザー名:　<%= @user.user_name %></p>
	<p class = "font">メールアドレス:　<%= @user.email %></p>
	<p class = "font">性別:　<%= @user.sex %></p>
	<p class = "font">身長:　<%= @user.height %></p>
  <p class = "font"><%= @user.introduction %></p>
  <%= link_to edit_admins_user_path(@user) do %>
    <font color = "#fff">編集</font>
  <% end %>
  </div>
  <div class="col-xs-1"></div>
</div>


<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 admin_user_show4">
  	<h1 class = "admin_user_show_font">コーディネート一覧</h1>
  	<% @coordinates.each do |coordinate| %>
		<%= link_to coordinate_path(coordinate.id) do %>
			<%= attachment_image_tag coordinate, :coordinate_image, :fill, 200, 250, format: 'jpeg' %>
		<% end %>
	<% end %>
  </div>
  <div class="col-xs-1"></div>
</div>
</div>
