<div class="row room">
	<div class="col-xs-1"></div>
	<div class="col-xs-10 room2">
		<h1 class = "font">ダイレクトメッセージ</h1>
		<h3 class = "font">～参加者～</h3>
		<% @entries.each do |e| %>
			<%= link_to user_path(e.user) do %>
				<p class = "font"><%= e.user.user_name %></p>
			<% end %>
		<% end %>

		<hr class = "room3">
		<!-- 相手が左、自分が右にあるように表示する。
		本当はfloatを使って綺麗に書きたかったが失敗。<small>　<strong>　</strong></small>で中を全角スペースをいれればうまくいく。多分文字を認識して空けてくれる -->
		<% if @messages.present? %>
			<% @messages.each do |m| %>
			<% if m.user_id == current_user.id %>
				<strong class = "room4" style="float:right;"><%= m.content %></strong>
				<small>　<strong>　</strong></small>
				<hr class = "room3">
			<% else %>
				<strong class = "room4"><%= m.content %></strong>
				<small>　<strong>　</strong></small>
				<hr class = "room3">
			<% end %>
			<% end %>
		<% else %>
			<h3 class = "text-center">メッセージはまだありません</h3>
		<% end %>

		<%= form_for @message do |f| %>
			<%= f.text_field :content, :placeholder => "メッセージを入力してください", :size => 70 %>
			<%= f.hidden_field :room_id, :value => @room.id %>
			<br>
			<div class = "field">
				<%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
          		<i class="fas fa-reply">　返信</i>
        		<% end %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-1"></div>
</div>




<div class="row">
	<div class="col-xs-1"></div>
	<div class="col-xs-10"></div>
	<div class="col-xs-1"></div>
</div>