<h1>アイテム詳細</h1>

<%= attachment_image_tag @item, :item_image, :fill, 350, 350, format: 'jpeg' %>
<%= @item.item_name %>
<%= @item.brand %>
<%= @item.color %>
<%= @item.size %>
<%= @item.category_name %>