<!DOCTYPE html>
<html>
  <head>
    <title>Imymemine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div class="page-header">
          <h1><%= link_to "m.m.m.", root_path %>
            <small class="navbar-right search">ようこそ <%= current_user.user_name %> さん。</small>
          </h1>
            <!-- 検索フォーム -->
            <%= form_tag(coordinates_search_path,:method => 'get') do %>
              <%= text_field_tag :search,  "",class:"serch-form", placeholder: "コーディネート検索" %>
              <%= submit_tag '検索', :name => nil%>
            <% end %>
        </div>
      <% elsif admin_signed_in? %>
        <div class="page-header">
          <h1><%= link_to "m.m.m.", root_path %>
            <small>管理者ログイン中</small>
          </h1>
        </div>
      <% else %>
        <div class="page-header">
          <h1><%= link_to "m.m.m.", root_path %>
            <small>ようこそ ゲスト さん。</small>
          </h1>
        </div>
      <% end %>




    </header>
    <div class = "flash">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
    <!-- 後にページが下がっても一緒に動いてくる仕組みにしたい -->
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="collapse navbar-collapse" id="navbarEexample9">
        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "コーディネート一覧", coordinates_path %></li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "マイページ", mypage_path(current_user.id) %></li>
        </ul>
        <% elsif admin_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav">
          <li><%= link_to "コーディネート一覧", coordinates_path %></li>
          <li class="active"><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
        <% end %>
      </div>
    </nav>
  </body>
</html>
