<!DOCTYPE html>
<html>
  <head>
    <title>Imymemine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" >
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <div class="wrap">
    <header>
      <% if user_signed_in? %>
        <%= link_to root_path do %>
          <p class = "header1">m.m.m.</p>
        <% end %>
        <p class = "header2">ようこそ　<%= current_user.user_name %>　さん。</p>
        <!-- 検索フォーム -->
        <%= form_tag(coordinates_search_path,:method => 'get') do %>
        <div class = "header3">
          <%= text_field_tag :search,  "",class:"search-form", placeholder: "コーディネート検索" %>
          <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
            <i class="fas fa-search"></i>　検索</i>
          <% end %>
        </div>
        <% end %>
      <% elsif admin_signed_in? %>
        <div class="page-header">
          <h1><%= link_to "m.m.m.", root_path %>
            <small>管理者ログイン中</small>
          </h1>
        </div>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <h1 class = "header1">m.m.m.</h1>
        <% end %>
        <p class = "header2">ようこそ　ゲスト　さん。</p>
        <!-- 検索フォーム -->
        <%= form_tag(coordinates_search_path,:method => 'get') do %>
        <div class = "header3">
          <%= text_field_tag :search,  "",class:"search-form", placeholder: "コーディネート検索" %>
          <%= button_tag :type => "submit", :class =>"btn btn-default btn-s-md" do %>
            <i class="fas fa-search"></i>　検索</i>
          <% end %>
        </div>
        <% end %>
      <% end %>



    </header>
    <div class = "flash">
      <%= flash[:notice] %>
    </div>
    <%= yield %>
    <!-- 後にページが下がっても一緒に動いてくる仕組みにしたい -->
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
      <div class="collapse navbar-collapse" id="navbarEexample9">
        <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "コーディネート一覧", coordinates_path %></li>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "マイページ", mypage_path(current_user.id) %></li>
        </ul>
        <% elsif admin_signed_in? %>
        <ul class="nav navbar-nav">
          <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
          <li><%= link_to "管理者トップページ", admins_admin_mypage_path %></li>
        </ul>
        <% else %>
        <ul class="nav navbar-nav">
          <li><%= link_to "コーディネート一覧", coordinates_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></li>
        </ul>
        <% end %>
      </div>
    </nav>
    </div><!-- /.wrap -->
  </body>
</html>
